*{
    margin: 0;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    color: #3a93e6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.descrição{
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

.plano1{
    border-style: groove;
    border-color: #3a93e6;
    border-radius: 5px;
    border-width: 2px;
    height: 400px;
    width: 270px;
    position: absolute;
    margin: 60px 0 0 240px;
    }

    .plano1 > .tipo{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 30px;
    }

    .barra1{
    width: 100px;
    margin: 80px 0 0 80px;
    }

    .plano1 > .preço{
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 20px;
    }

    .barra2{
    width: 100px;
    margin: 20px 0 0 80px;
    }

    .button1{
    width: 150px;
    height: 40px;
    margin: 60px 0 0 60px;
    border-radius: 5px;
    border: 1px solid #3a93e6;
    background-color: #3a93e6;
    cursor: pointer;
    }

    .button1 > p{
    font-size: 15px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .condição{
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

.plano2{    
    border-style: groove;
    border-color: #3a93e6;
    border-radius: 5px;
    border-width: 2px;
    height: 400px;
    width: 270px;
    position: absolute;
    margin: 60px 0 0 550px;   
    }

    .plano2 > .tipo2{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 30px;
    }

    .barra01{
    width: 100px;
    margin: 80px 0 0 80px;
    }

    .plano2 > .preço2{
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 20px;
    }

    .barra02{
    width: 100px;
    margin: 20px 0 0 80px;
    }

    .button2{
    width: 150px;
    height: 40px;
    margin: 60px 0 0 60px;
    border-radius: 5px;
    border: 1px solid #3a93e6;
    background-color: #3a93e6;
    cursor: pointer;
    }

    .button2 > p{
    font-size: 15px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .condição2{
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


.plano3{    
    border-style: groove;
    border-color: #3a93e6;
    border-radius: 5px;
    border-width: 2px;
    height: 400px;
    width: 270px;
    position: absolute;
    margin: 60px 0 0 860px;
    
    }

    .plano3 > .tipo3{
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 30px;
    }

    .barra001{
    width: 100px;
    margin: 80px 0 0 80px;
    }

    .plano3 > .preço3{
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3f3f3f;
    margin-top: 20px;
    }

    .barra002{
    width: 100px;
    margin: 20px 0 0 80px;
    }

    .button3{
    width: 150px;
    height: 40px;
    margin: 60px 0 0 60px;
    border-radius: 5px;
    border: 1px solid #3a93e6;
    background-color: #3a93e6;
    cursor: pointer;
    }

    .button3 > p{
    font-size: 15px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .condição3{
    text-align: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: bold;
    color: #0e0d0d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .recomendado{
        width: 200px;
        height: 30px;
        border-radius: 20px;
        border: 1px solid #3a93e6;
        background-color: #3a93e6;
        margin: -16px 0 0 33px;
        position: absolute;
    }

    .recomendado > p{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;
        font-weight: bold;
        font-size: 11px;
    }